社員コード,社員名,社員略名,社員名カナ,E-MAIL,所属1部門コード,所属1部門名,所属1役職コード,所属1役職名,所属2部門コード,所属2部門名,所属2役職コード,所属2役職名,所属3部門コード,所属3部門名,所属3役職コード,所属3役職名,権限（コード）,権限（名称）,在職区分（名称）
A001,テスト太郎,テスト,テストタロウ,test-taro@example.com,D01,情報システム部,P01,一般,,,,,,,,,,,在籍
